# Compiled Object files
*.slo
*.lo
*.o

# backups
*~

# logs
*.log

# autotools
config.status
*cache
configure
Makefile
Makefile.in
aclocal.m4
config.h
config.h.in
depcomp
install-sh
missing
stamp-h1
.dirstamp

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# deps
*.d
.deps

# cc suite
*.cs*
*.gcno
*.gcda

# exe
dines
test_dines
dines.html
dines_html/
