# Compiled Object files
*.slo
*.lo
*.o

# backups
*~

# logs
*.log

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# deps
*.d
.deps

# cc suite
*.cs*
*.gcno
*.gcda
*.gcov
coverage.info

# exe
dines
test_dines
test_root_dines
dines.html
dines_html/
